script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
script
  function sayHello() {
    $.getJSON('/roll', function(data) {
        $('#hello').html('Server says: ' + data.dice + '<br>');
      }
    );
  }

h1= title
p 
  button(onclick= 'javascript:sayHello()') Hello
  div(id='hello')
  ul#games
    != partial('games/game', games)
